.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/WFAutomationFramework/DesignTimeBuild/.dtbcache
.vs/WFAutomationFramework/v16/.suo
.vs/WFAutomationFramework/v16/Server/sqlite3/db.lock
.vs/WFAutomationFramework/v16/Server/sqlite3/storage.ide
.vs/WFAutomationFramework/v16/TestStore/0/000-0000.testlog
.vs/WFAutomationFramework/v16/TestStore/0/testlog.manifest
.vs/internal-testautomation-framework/DesignTimeBuild/.dtbcache
.vs/internal-testautomation-framework/v16/.suo
.vs/internal-testautomation-framework/v16/Server/sqlite3/db.lock
.vs/internal-testautomation-framework/v16/Server/sqlite3/storage.ide
.vs/internal-testautomation-framework/v16/Server/sqlite3/storage.ide-shm
.vs/internal-testautomation-framework/v16/Server/sqlite3/storage.ide-wal
.vs/internal-testautomation-framework/v16/TestStore/0/000-0000.testlog
.vs/internal-testautomation-framework/v16/TestStore/0/testlog.manifest
.vs/internal-testautomation-framework1/v16/.suo
.vs/internal-testautomation-framework1/v16/TestStore/0/000-0000.testlog
.vs/internal-testautomation-framework1/v16/TestStore/0/testlog.manifest
obj/internal-testautomation-framework.csproj.nuget.dgspec.json
obj/internal-testautomation-framework.csproj.nuget.g.props
obj/internal-testautomation-framework.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp3.0/internal-testautomation-framework.assets.cache
obj/Debug/netcoreapp3.0/internal-testautomation-framework.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/internal-testautomation-framework.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/internal-testautomation-framework.AssemblyInfoInputs.cache
bin/Debug/WF.Test.AutomationFramework.1.0.0.nupkg
bin/Debug/WF.Test.AutomationFramework.1.0.1.nupkg
bin/Debug/WF.Test.AutomationFramework.1.0.2.nupkg
bin/Debug/WF.Test.AutomationFramework.1.0.4.nupkg
bin/Debug/netcoreapp3.0/WF.Test.AutomationFramework.deps.json
bin/Debug/netcoreapp3.0/WF.Test.AutomationFramework.dll
bin/Debug/netcoreapp3.0/WF.Test.AutomationFramework.pdb
obj/
bin/Debug/WF.Test.AutomationFramework.1.0.5.nupkg
bin/Debug/WF.Test.AutomationFramework.1.0.6.nupkg
.vs/
bin/
Properties/PublishProfiles/FolderProfile.pubxml
Properties/PublishProfiles/FolderProfile.pubxml.user
